/* Overall styles */
body {
    background-color: #fdfeff;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 6%;
}

h1 {
    color: #252a34;

}

h3 {
    color: #3bb4c1;
    text-decoration: underline black;
}

#avatarPicture {
    width: 180px;
    height: 180px;
}

table {
    border-collapse: collapse;
    table-layout: auto;
}



th,
td {
    padding: 15px;
}

/* Other styles */

.educationTable {
    background-color: #8fe1ebce;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

.workExperienceTable {
    background-color: #8fe1ebce;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

.skillsTable {
    background-color: #8fe1ebce;
    width: 100%;
    text-align: center;
    border: 1px solid black;

}

tr.educationTR {
    border-bottom: 1px solid black;
}

tr.workExperienceTR {
    border-bottom: 1px solid black;
}