body {
    background-color: #fdfeff;
}

hr {
    /* background-color: white; */
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 6%;
}

h1 {
    color: #252a34;

}

h3 {
    color: #3bb4c1;
}